body, html { 
    height: 100%
}

.pageheader {
    border-bottom: 1px solid black;
    background: #E7FAFE; 
    padding: 2%;
}

.headerlogo {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#topbarnavigation{
    margin: 0; 
    padding: 0; 
    text-align: center;
    font-family: 'Open Sans', 'sans-serif';
    color: black;
    /*-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-fill-color: white;*/
}

li{
    display: inline-block; 
    margin-left: 60px;
    margin-top: 2%;
    font-size: 20px;
}

#shoppingcart {
    display: inline;
    float: right;
    
}

#carttext {
    font-family: 'Open Sans', sans-serif; 
    color: black;
    font-size: 20;
}

.bannerimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/banner_image.png");
    height:100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}

.bannertext {
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color:white; 
    font-size: 25px;
}

#bunsouttext{
    font-size: 85px;
    padding-bottom: 5%;
    font-family: 'Pacifico', cursive;
}

#favoritesback{
    font-family: 'Open Sans', sans-serif;
}

.browsebutton {
    margin-top: 7%;
    padding: 5px 12px;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    color: black;
    background-color: #E7FAFE;
    border: .25px solid black; 
    outline: 4px solid white;
}

.browsebutton:hover {
    background-color:white;
    outline: 4px solid #E7FAFE;
}

#servicecontainer {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
}

.servicebox {
    margin-top: 100px;
    padding: 60px;
    background-color: white; 
    border: 2px solid #7D8789; 
    box-shadow: 0px 0px 0px 12px#7D8789;
    outline: 10px solid #E7FAFE;
    text-align: center;
}

#servicetitle {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    padding: 10px; 
}

#servicelogo{
    width: 30%;
}

.generalbutton {
    margin-top: 20px;
    padding: 5px 12px;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    color: black;
    background-color: #E7FAFE;
    border: 1px solid black; 
    box-shadow: 0px 0px 0px 4px black;
    outline: 3px solid white;
}

.generalbutton:hover {
    background-color:white;
    border: 1px solid black; 
    box-shadow: 0px 0px 0px 4px black;
    outline: 3px solid #E7FAFE;

}
.pagefooter {
    margin-top: 100px;
    border-top: 1px solid black;
    background: #E7FAFE; 
    padding: 40px 100px; 
}