/* Basic Asset Styles */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64pt;
    font-weight:bolder;
    color: #B54600;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 64pt; 
    font-weight: 500; 
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40pt; 
    font-weight: 400; 
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36pt; 
    font-weight: 300; 
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28pt; 
    font-weight: 300;  
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt; 
    font-weight: normal;
}

.regularCaption {
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt; 
    font-weight: lighter;
}

.homePageCaptions {
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt; 
    font-weight: bold;
}

.navBarLinks {
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt; 
    font-weight: normal;
}

.karaDorLogo{
    width: 25%;
    margin-left: 1%;
    margin-top: 1%;
}

/* Homepage Styles */
#aboveFoldHomeContent {
    margin-top: 200px;
}
.userResearcherH1 {
    font-family: 'Playfair Display', serif;
    font-size: 64pt;
    font-weight:bolder;
    color: #B54600;
    text-align: center;
}

.userResearcherH2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36pt; 
    font-weight: 300; 
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10%;
}

#myWorkArrowContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

#myWork {
    text-align: center;
}

.GalleryImage {
    position: relative;
    display: inline;
    margin-top: 4%; 
    
}


.blocker {
  z-index: 2;
  display: inline-block;
  max-width: 96%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  font-size: 20px;
  text-align: center;

}
